* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --shadow-color: rgba(0, 0, 0, 0.5);
    --border-color: rgba(0, 0, 0, 0.3);
}

.interface {
    max-width: 1200px;
}

.btn {
    background-color: blue;
    border: none;
    padding: 0.5rem 0.8rem;
    color: white;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    padding: 0.2rem 0;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-color: #ffffff;
    border-bottom: 1px solid var(--border-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

header .flex-center {
    gap: 0;
}

header>div>div {
    height: 100%;
}

header>div nav {
    height: 100%;
}

nav ul {
    height: 100%;
}

nav ul li {
    border: 1px solid var(--border-color);
    list-style: none;
}

nav ul li i,
nav ul li .svg {
    font-size: 1.8em;
    padding: 0.25rem 0.3rem;
    display: inline-block;
    height: 100%;
    background-color: #BDBDBD;
    color: #616161;
}

#cart-qty {
    position: absolute;
    top: -1.2rem;
    left: 32px;
    color: white;
    background-color: orangered;
    height: 22px;
    text-align: center;
    border-radius: 11px;
    padding: 2px;
    box-shadow: 0px 0px 8px var(--shadow-color);
    border: 1px solid var(--border-color);
}

#toogle-img-default span {
    position: absolute;
    top: 40%;
    background-color: black;
    color: white;
    padding: 0.5rem 0.2rem;
}


main {
    width: 100vw;
    padding: .5rem 2%;
}

main>div {
    margin-top: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid var(--border-color);
    /* border-radius: 5px; */
    margin: 0.5rem 0;
    overflow: hidden;
    position: relative;
}

.card img {
    /* border-bottom: 3px solid blue; */
    width: 100%;
}

.toogle > div {
    position: relative;
}

.card button, .toogle input[type='submit'], .toogle button{
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0;
    font-size: 1.05rem;
    cursor: pointer;
}

.info {
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    /* background-color: red; */
}

.info form > div {
    margin: 1rem 0;
}

.toogle  {
    grid-template-columns: 1fr;
    height: calc(100vh - 3.5rem);
    padding: 5px 0;
    position: fixed;
    top: -1rem;
    right: 0;
    background-color: white;
    overflow: auto;
    width: 90vw;
    transform: translateX(92vw);
    transform-style: preserve-3d;
    transition: .3s;
    font-size: 1.1rem;
    z-index: 100;
}

.toogle > div {
    width: 100%;
    padding:  0.7rem 0.5rem;
    height: 105%;
    /* height: auto; */
}

.toogle .card {
height: auto;
}

#background {
    height: 100vh;
    width: 100vw;
    background-color: #00000085;
    position: fixed;
    top: -1rem;
    z-index: 90;
}

.mini-picture {
    margin: .5rem .3rem;
}

.mini-picture span {
    display: inline-block;
    width: 2.5rem;
}

.sizes label {
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    border: 1px solid;
    border-radius: .2rem;
    z-index: 1;
}

input[name='size'], input[name='color'] {
    display: contents;
    z-index: -1;
    position: absolute;
    z-index: -10;
    pointer-events: none;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem;
    margin: .5rem 1.25rem;
}

.colors label {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 5px;
}

.exit {
    text-align: center;
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
}

.exit i {
    font-size: 1.2rem;
}

.qty {
    margin: .5rem 0;
}

.qty input {
    font-size: 1rem;
    border: 1px solid var(--border-color);
    padding: .2rem;
    outline: none;
    width: 40px;
    text-align: center;
}
.qty span {
    display: flex;
    flex-direction: row;
}
.qty > span > span {
    background-color: #6e6e6e4f;
    border: 1px solid var(--border-color);
    padding: 0 0.25rem;
}

.loading {
    background-color: #ffffff85;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.loading div {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border: 5px solid transparent;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    animation: giro 1.5s infinite;
    transition: .4s ease-in-out;
}

@keyframes giro {
    0%{
        transform: rotatez(0deg);
    }

    100% {
        transform: rotatez(360deg);
    }
}